* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", arial, helvetica, sans-serif;
}
body {
    background-image: url("/imagens/R.jpg");
    background-repeat: no-repeat;
    width: 95vw;
    height: 80vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 25px;
    background: #c5c3ca;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.video-container {
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul > li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e1e1e;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056;
}
ul li:hover {
    background: #ffffff;
}

ul button {
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e1e1e;
    padding: 10px 10px;
    border-radius: 30px;
}

li button:hover {
    background: #1e1e1e
}

ul.inside-div-menu {
    height: 6%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.video-container > div.texto {
    overflow-y: auto;
    margin-top: 20px;
    max-height: 20%;
    min-width: 70%;
    text-align: justify;
    color: #1e1e1e
}

img#logo-header {
    width: 500px;
    height: 200px;
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.video-box {
    width: 100%;
    height: 100%;
    background: #2a2a2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: white;
}

img {
    border-radius: 10px;
}

.video-internal {
    width: 100%;
    height: 100%;
}

div#page-4 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 20px 25px;
    background: #c5c3ca;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#page-3 {
    width: 50%;
    min-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 25px;
    background: #c5c3ca;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    position:sticky;
}

.page-gloss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 25px;
    background: #c5c3ca;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}